In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('final.xlsx')

In [3]:
df

       Statistics_Name            Auction_Name
0    Washington Sundar       Washington Sundar
1      Harbhajan Singh         Harbhajan Singh
2    Mustafizur Rahman       Mustafizur Rahman
3         Yuvraj Singh            Yuvraj Singh
4        Navdeep Saini           Navdeep Saini
..                 ...                     ...
237            TM Head             Travis Head
238            VR Iyer          Venkatesh Iyer
239           V Sehwag         Virender Sehwag
240          YS Chahal        Yuzvendra Chahal
241          YS Chahal  Yuzvendra Singh Chahal

[242 rows x 2 columns]

In [ ]:
names